<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
    <button type="submit" name="logout">Log out</button>
    <h1>BASE</h1>
    <canvas id="myChart" width="400" height="400"></canvas>
</body>
<script>
const ctx = document.getElementById('myChart');
const myChart = new Chart(ctx, {    
    type: 'bar',
    data: {
        labels: {{ time_list|safe }},
        datasets: [{
            label: '# of Votes',
            data: {{ body_temp_list|safe }},
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>

</html>