{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register page</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

  <style>
    .register-body {
      height: 100%;
    }


    .second {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 20px;
    }

    .second>* {
      width: 30%;
    }

    .register-body .email {
      margin-bottom: 20px;
    }

    .register-body .profile-img {
      margin-bottom: 20px;
    }

    .register-body .username {
      margin-bottom: 20px;
    }
  </style>

</head>

<body background="{% static 'healthcare2.jpg' %}" style="background-repeat: no-repeat; background-size: cover;">

  <div class="register-body">
    <div class="container py-5 h-100">
      <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-lg-9 col-xl-7">
          <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
            <div class="card-body p-4 p-md-5">
              <h1 class="mb-4 pb-2 pb-md-0 mb-md-5">Let's sign you up!</h3>

                <form method="post" name="register">

                  {% csrf_token %}

                  <div class="row">

                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input type="text" name="first_name" id="name" class="form-control form-control-lg"
                          placeholder="First Name" />
                      </div>
                    </div>

                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input type="text" name="last_name" id="name" class="form-control form-control-lg"
                          placeholder="Last Name" />
                      </div>
                    </div>

                  </div>

                  <div class="row second">

                    <div>
                      <select class="select col-sm form-control-lg" name="sex" aria-label="Default select example">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Rather not say">Rather not say</option>
                      </select>
                    </div>

                    <div>
                      <input type="text" name="age" id="age" class="form-control form-control-lg" placeholder="Age" />
                    </div>

                    <div>
                      <select class="col-sm select form-control-lg" name="blood_group"
                        aria-label="Default select example">
                        <option selected>Blood group</option>
                        <option value="A+">A+</option>
                        <option value="A-">A-</option>
                        <option value="B+">B+</option>
                        <option value="B-">B+</option>
                        <option value="AB+">AB+</option>
                        <option value="AB-">AB-</option>
                        <option value="O+">O+</option>
                        <option value="O-">O-</option>
                      </select>
                    </div>

                  </div>


                  <div class="row">

                    <div class="col-md-6 mb-4 pb-2">
                      <div class="form-outline">
                        <input type="number" id="emailAddress" name="height" class="form-control form-control-lg"
                          placeholder="Height" />
                      </div>
                    </div>

                    <div class="col-md-6 mb-4 pb-2">
                      <div class="form-outline">
                        <input type="number" name="weight" class="form-control form-control-lg" placeholder="Weight" />
                      </div>
                    </div>

                  </div>

                  <div class="row">

                    <div class="form-outline">
                      <input type="email" name="email" id="name" class="form-control form-control-lg email"
                        placeholder="Email address" />
                    </div>

                  </div>

                  <div class="row">

                    <div class="col-12">
                      <div class="form-outline">
                        <label for="image">Choose profile image</label>
                        <input type="file" accept=".jpg,.jpeg,.png" name="profile_pic" id="image"
                          class="form-control form-control-lg profile-img" />
                      </div>
                    </div>

                  </div>

                  <div class="row">

                    <div class="form-outline">
                      <label for="username">Choose Username</label>
                      <input type="text" name="username" id="name" class="form-control form-control-lg username" />
                    </div>

                  </div>

                  <div class="row">

                    <div class="form-outline">
                      <label for="password">Choose a strong password</label>
                      <input type="password" id="password" name="password" class="form-control form-control-lg" />
                    </div>

                  </div>

                  <div class="mt-4 pt-2">
                    <button type="submit" class="btn btn-primary btn-lg">Create my account</button>
                  </div>

                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>